<%= form_for @product do |f| %>
  <%= f.text_field :name, placeholder: "Nombre del producto" %><br>
  <br>
  <%= f.text_field :price, placeholder: "Precio del Producto" %><br>
  <br>
  <% @categories.each do |category| %>
    <label for="<%= category.name %>"><%= category.name %></label>
    <%= f.check_box :categories, {}, category.name,nil %>
    <% end %><br>
    <br>
  <%= f.submit "Crear producto" %>
<% end %>
